@font-face {
  font-family: "oldEnglish";
  src: url("./fonts/oldenglishtextmt.woff2") format("woff2"),
    url("./fonts/oldenglishtextmt.woff2") format("woff"),
    url("./fonts/oldenglishtextmt.woff2") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "mongkrain";
  src: url("./fonts/mongkrain-mongkrain-regular-400.woff2") format("woff2"),
    url("./fonts/mongkrain-mongkrain-regular-400.woff2") format("woff"),
    url("./fonts/mongkrain-mongkrain-regular-400.woff2") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Doto";
  src: url(/fonts/Doto-VariableFont_ROND\,wght.ttf) format("woff2"),
    url(/fonts/Doto-VariableFont_ROND\,wght.ttf) format("woff"),
    url(/fonts/Doto-VariableFont_ROND\,wght.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}
body{
  overflow-x: hidden;
}
nav {
  font-family: "oldEnglish";
  display: flex;
  overflow: hidden;
  padding: 27px 115px;
  align-items: center;
  justify-content: space-between;
  font-size: 22px;
  background-color: #144552;
}

nav ul {
  display: flex;
  align-items: center;
  gap: 20px;
  list-style: none;
  position: relative;
}
nav ul li {
  transition: 0.3s all ease;
}
nav ul li a {
  padding: 35px 20px;
  text-decoration: none;
}
nav ul li:hover {
  scale: 120%;
  text-shadow: 2px 2px 15px rgba(255, 255, 255, 0.593);
}
nav > a {
  text-decoration: none;
  font-size: 20px;
  padding: 10px 20px;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 50px;
  transition: 0.3s all ease;
}
nav > a:hover {
  box-shadow: rgba(255, 255, 255, 0.35) 0px 5px 10px;
  scale: 110%;
}
nav img {
  position: absolute;
  height: 90px;
  top: -20px;
  right: 20px;
  transform: rotate(35deg);
}

/** hero section */

.hero {
  height: 87vh;
  width: 100%;
  display: flex;
  gap: 100px;
  align-items: center;
  padding: 50px 135px;
  background-color: #144552;
}

.hero-img {
  height: 500px;
  width: 400px;
  border-radius: 50px;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.46);
  backdrop-filter: blur(10px);
}
.hero-img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.hero-content {
  display: flex;
  flex-direction: column;
  gap: 40px;
  position: relative;
}

.hero-content h1 {
  font-family: "mongkrain";
  font-size: 50px;
  letter-spacing: 2px;
}
.hero-content p {
  font-size: 25px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.hand {
  height: 80px;
  position: absolute;
  top: -35px;
  right: 464px;
}
.intro2 {
  width: 600px;
  line-height: 35px;
}
.code {
  color: rgb(0, 255, 0);
  font-size: 30px;
  font-family: "Doto";
}
.creativity {
  font-family: "mongkrain";
}

/** skills section */

.Skills {
  background-color: #181d27;
  padding: 50px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 40px;
}
.Skills h2 {
  text-shadow: 2px 2px 15px rgba(255, 255, 255, 0.6);
  font-size: 45px;
  font-family: "mongkrain";
  letter-spacing: 3px;
}
.Skills p {
  font-size: 35px;
  font-family: "mongkrain";
  letter-spacing: 3px;
}
.skills-icons {
  display: flex;
  align-items: center;
  gap: 40px;
}
.skills-icons img {
  height: 100px;
  transition: 0.3s all ease;
}

.skills-icons img:hover {
  scale: 110%;
  filter: drop-shadow(0 0 10px white);
}

/* *projects section */

.projects {
  background-color: #144552;
  padding: 50px 0 100px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
}
.projects h2 {
  text-shadow: 2px 2px 15px rgba(255, 255, 255, 0.6);
  font-size: 45px;
  font-family: "mongkrain";
  letter-spacing: 3px;
}
.projects p {
    font-size: 35px;
    font-family: "mongkrain";
    letter-spacing: 3px;
  }

  .project-imgs{
    width: 1300px;
    background-color:#ffffff60;
    position: relative;
    backdrop-filter: blur(10px);
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
  .project-imgs img{
    width: 350px;
    /* object-fit: cover; */
    /* background-color: aliceblue; */
    height: 200px;
  }
  .projects-top ,.projects-bottom{
    display: flex;
    align-items: center;
    gap: 20px;
  }
  .projects-top{
    justify-content: end;
  }
  .tape-bottom , .tape-top{
    position: absolute;
  }
  .tape-bottom {
    bottom: -59px;
    transform: rotate(20deg);
    right: -151px;
}
.tape-top {
  top: -58px;
  left: -134px;
}
/* * footer section */
footer {
  width: 100%;
  background-color: #181d27;
  padding: 50px 0;
  position: relative;
}
footer > h2 {
  text-align: center;
  font-size: 40px;
  padding: 30px;
  font-family: "mongkrain";
  text-shadow: 2px 2px 15px rgba(255, 255, 255, 0.6);
  letter-spacing: 3px;
}
footer > p {
  font-family: "mongkrain";
  text-align: center;
  font-size: 35px;
}
.contact {
  display: flex;
  align-items: center;
  gap: 50px;
  justify-content: center;
  /* border: 1px solid black; */
  padding: 20px 0px;
}
.contact a img {
  height: 80px;
  margin: 20px 0;
  transition: 0.7s all ease-out;
  /* text-shadow: rgba(255, 255, 255, 0.35) 0px 5px 10px; */
}

.contact a:hover img {
  filter: drop-shadow(0 0 10px white);
  transform: rotateY(360deg);
  scale: 110%;
}
.arrow {
  filter: drop-shadow(0 0 10px white);
  height: 73px;
  position: absolute;
  top: 175px;
  right: 360px;
  transform: rotate(90deg);
}

.moreContact {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.more {
  border: 1px solid white;
  padding: 10px 30px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  gap: 20px;
}
.more i {
  font-size: 30px;
}
.more p {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
